@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(209, 209, 209);
}

h1 {
  font-size: 15rem;
  font-weight: 600;
}

p {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}
